{
  "image_configuration": {
    "dither_algorithm": "2",
    "alpha_dither": "yes",
    "layout_rotation": "0",
    "opaque_image_format": "RGB565",
    "nonopaque_image_format": "ARGB8888",
    "l8_compression": "no",
    "section": "ExtFlashSection",
    "extra_section": "ExtFlashSection",
    "images": {
      "btn_replay.png": {
        "format": "RGB565"
      },
      "explosion.png": {
        "format": "RGB565"
      },
      "num_1.png": {
        "format": "RGB565"
      },
      "lbl_2nd.png": {
        "format": "RGB565"
      },
      "enemy2.png": {
        "format": "RGB565"
      },
      "num_2.png": {
        "format": "RGB565"
      },
      "num_4.png": {
        "format": "RGB565"
      },
      "num_8.png": {
        "format": "RGB565"
      },
      "num_3.png": {
        "format": "RGB565"
      },
      "enemy_red.png": {
        "format": "RGB565"
      },
      "num_6.png": {
        "format": "RGB565"
      },
      "enemy_blue.png": {
        "format": "RGB565"
      },
      "enemy_red_backup.png": {
        "format": "RGB565"
      },
      "background.png": {
        "format": "RGB565"
      },
      "lbl_3rd.png": {
        "format": "RGB565"
      },
      "enemy_spikey.png": {
        "format": "RGB565"
      },
      "enemy1.png": {
        "format": "RGB565"
      },
      "laser_enemy.png": {
        "format": "RGB565"
      },
      "alien_yellow.png": {
        "format": "RGB565"
      },
      "num_x.png": {
        "format": "RGB565"
      },
      "boss1kbg.png": {
        "format": "RGB565"
      },
      "num_5.png": {
        "format": "RGB565"
      },
      "laser_player.png": {
        "format": "RGB565"
      },
      "doubleshot.png": {
        "format": "RGB565"
      },
      "item_missile.png": {
        "format": "RGB565"
      },
      "item_star.png": {
        "format": "RGB565"
      },
      "ui_x.png": {
        "format": "RGB565"
      },
      "item_shield.png": {
        "format": "RGB565"
      },
      "btn_scoreboard.png": {
        "format": "RGB565"
      },
      "enemy_spikey_backup.png": {
        "format": "RGB565"
      },
      "player_life.png": {
        "format": "RGB565"
      },
      "btn_start.png": {
        "format": "RGB565"
      },
      "ui_life.png": {
        "format": "RGB565"
      },
      "enemy_blue_backup.png": {
        "format": "RGB565"
      },
      "num_7.png": {
        "format": "RGB565"
      },
      "enemy3.png": {
        "format": "RGB565"
      },
      "tripleshot.png": {
        "format": "RGB565"
      },
      "btn_exit.png": {
        "format": "RGB565"
      },
      "blueforcefield.png": {
        "format": "RGB565"
      },
      "explosion_large.png": {
        "format": "RGB565"
      },
      "txt_yourscore.png": {
        "format": "RGB565"
      },
      "boss2r.png": {
        "format": "RGB565"
      },
      "bullet_missile.png": {
        "format": "RGB565"
      },
      "txt_highscore.png": {
        "format": "RGB565"
      },
      "num_0.png": {
        "format": "RGB565"
      },
      "player_ship.png": {
        "format": "RGB565"
      },
      "txt_gameover.png": {
        "format": "RGB565"
      },
      "ufo_boss.png": {
        "format": "RGB565"
      },
      "num_9.png": {
        "format": "RGB565"
      },
      "lbl_1st.png": {
        "format": "RGB565"
      },
      "item_bolt.png": {
        "format": "RGB565"
      },
      "btn_back.png": {
        "format": "RGB565"
      },
      "game_title.png": {
        "format": "RGB565"
      },
      "boss_3_lazer.png": {
        "format": "RGB565"
      },
      "ufo-boss-2.png": {
        "format": "RGB565"
      },
      "boss_2_lazer.png": {
        "format": "RGB565"
      },
      "boss_original_backup.png": {
        "format": "RGB565"
      }
    },
    "rgb_compression": "no"
  },
  "text_configuration": {
    "remap": "yes",
    "a4": "yes",
    "binary_translations": "no",
    "binary_fonts": "no",
    "framebuffer_bpp": "16",
    "font_format": "0",
    "cache_size": 4096,
    "copy_translations_to_ram": "no"
  }
}